.parameters
  text-align left
#account-amount
  margin auto
  text-align center
  display inline-block
#account-amount-info
  font-size 1.5em
  color #777
#account-amount-icon
  color #40acd6
#account-amount-date
  font-size 0.8em

#account-budget
  border 1px solid #999
  display inline-block
  padding 3px
#account-budget-amount
  border none
  display inline-block
  width 60px
  text-align right
.margin2
  margin: 2px
.configuration-btn-container
  position absolute
  left 20px
  top -6px
  z-index 12
.btn.configuration-btn
  float left
  display inline-block
  text-align center
  vertical-align top
  margin 0px
  width 42px
  border-radius 6px 6px 6px 6px
  background-color #2b2b2b
  color #FFF
.btn.btn-app
  border 0px
  padding 12px 0px 8px 0px
  margin 2px
  line-height 1.7
.btn.btn-app.btn-xs > [class*="icon"]
  display block
  font-size 24px
  line-height 24px
  margin 0px

.pie-chart
  padding 10px 0



