// Base Styles

*
  box-sizing: border-box

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility

body,
input
    font 15px 'Open Sans',arial,sans-serif
    color #222
    // font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 20px
a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline
