.receipt .box
  text-align center
  border 1px solid #353A44

.receipt .price
  background #F5A03A /* Old browsers */
  background -moz-linear-gradient(#F5A03A, #F9B233) /* FF3.6+ */
  background -webkit-linear-gradient(#F5A03A, #F9B233) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(#F5A03A,#F9B233) /* Opera 11.10+ */
  background linear-gradient(#F5A03A,#F9B233) /* W3C */

.receipt .map
  background white

.receiptdetail
  position relative
  background white
  height 90px
  margin-left 15px
  margin-right 15px
  margin-bottom 21px
  line-height 1.1
  border-radius 15px

.receiptdetail .image
  position absolute
  width 75px
  height 75px
  left 3px
  top 7px

.sectionhead
  text-align center
  margin-bottom -25px

.sectionhead img
  max-width 50px

.sectioninner
  padding-top 20px
  background #ECECEC /* Old browsers */
  background -moz-linear-gradient(#ECECEC, #B2B2B2) /* FF3.6+ */
  background -webkit-linear-gradient(#ECECEC, #B2B2B2) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(#ECECEC,#B2B2B2) /* Opera 11.10+ */
  background linear-gradient(#ECECEC,#B2B2B2) /* W3C */
  border-top 3px solid #49b6df
  border-bottom 1px solid #49b6df
  margin-bottom 10px

.row.section
  margin 18px

.item_a .box
  height 46px
  line-height 46px
  color white

  background #353A44 /* Old browsers */
  background -moz-linear-gradient(#484f5a, #353a44) /* FF3.6+ */
  background -webkit-linear-gradient(#484f5a#353a44) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(#484f5a,#353a44) /* Opera 11.10+ */
  background linear-gradient(#484f5a,#353a44) /* W3C */

.detail
  vertical-align: center-vertical
  margin-left: 80px


.lab
    text-transform: capitalize
    line-height 1.1
    padding-right 2px

.vol
    line-height: 1.1

.price
    position: absolute
    left: 80px
    bottom: 0px
    font-weight: bold
    line-height: 1.1

#current-receipt-title
  text-transform none !important

#current-receipt
  padding-top 20px

#enhanced-report-info
  display none
  padding 15px

