#forecast-budget-content
  padding 10px

.modify-regular-operation, .remove-regular-operation
  cursor pointer

.input-small, .input-simple
  margin-right 5px
.input-small
  width 110px

.input-simple
  width 200px

.add-regular-operation-container
  text-align center
  padding 10px

.btn-orange
   background-color #F08C56
   color #FFF