.container
  position relative
  padding 0

.container header
  padding-top 15px

.main-container
  padding 0
  margin 0

#mainnav
  // padding-left: 85px;
  margin-top: 25px;

#mainnav *
  padding-right 0
  margin-right 0

#mainnav ul li .current-arrow
  right -15px
  top 32px

.view-container
  // padding-left 85px
  margin-top 25px
  padding 0

.view-container .row
  margin 0

.view-container #account-choice
  padding 10px

.blue-text
  color #40acd6
.red-text
  color #f74e4d
.orange-text
  color #fac567

.month-switcher
  cursor pointer
.previous-month
  margin-left 15px
.next-month
  margin-right 15px



