// Layout

.layout-container
    width 940px

.layout-centered
    margin 0 auto

.layout-left
    float left

.layout-right
    float right

.layout-to-left
    left auto
    right 0

.layout-to-right
    right auto
    left 0

#interface-box h1
  background-color #e8e8e8
  width 100%
  min-height 30px
  color #2b2b2b
  text-align center
  text-transform uppercase
  font-size 1.5em
  padding 3px
  margin-top 0

#mainnav *
  padding-right 0
  margin-right 0

#mainnav ul li .current-arrow
  right 0
  top 35px

.view-container
  padding-left 85px

.view-container .row
  margin 0

.view-container #account-choice
    padding 10px

.table > tbody > tr.special > td
  background-color #2b2b2b
  border-color #2b2b2b
  color #fff

.table > tbody > tr.success > td
  background-color #dff0d8

.blue-text
  color #40acd6
.orange-text
  color #fac567
