.modal.fade#modalConfiguration(tabindex="-1", role="dialog", aria-labelledby="showModalLabel", aria-hidden="true", style="display: none;")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", data-original-title="")×
        h4.modal-title Paramètres

      .modal-body
        label.control-label Mon choix de compte
        select#account-choice.form-control.input-lg(size="1")
        br
        label.control-label(for="monthly-budget") Mon budget du mois
        div.input-group.input-middle-size
          input#configuration-budget-amount.form-control(type="text", name="monthly-budget")
          span.input-group-addon &euro;

      .modal-footer
        em.info-user.little-text Les modifications sont prises en compte instantanément&nbsp;
        button.btn.btn-default(type="button", data-dismiss="modal", data-original-title="") J'ai terminé
