//- .modal.fade#modalConfiguration(tabindex="-1", role="dialog", aria-labelledby="showModalLabel", aria-hidden="true", style="display: none;")
//-   .modal-dialog
//-     .modal-content
//-       .modal-header
//-         button.close(type="button", data-dismiss="modal", aria-hidden="true", data-original-title="")×
//-         h4.modal-title Paramètres

      //- .modal-body
h1 Paramètres
.interface-box-content
  div.configuration-interface
    p Veuillez sélectionner le compte courant lié à votre relevé malin.
    //- label.control-label Mon choix de compte
    //- select#account-choice.form-control.input-lg(size="1")
    table#account-choice.col-md-12
    //- br
    //- label.control-label(for="monthly-budget") Mon budget du mois
    //- div.input-group.input-middle-size
    //-   input#configuration-budget-amount.form-control(type="text", name="monthly-budget")
    //-   span.input-group-addon &euro;
    br
    br
    p Si vos comptes n'apparaissent pas ici, veuillez les ajouter dans l'application "MesComptes".

        //- .modal-footer
        //-   em.info-user.little-text Les modifications sont prises en compte instantanément&nbsp;
        //-   button.btn.btn-default(type="button", data-dismiss="modal", data-original-title="") J'ai terminé
