input.accountTitle(type="radio", name="accountTitle")
label(for="accountTitle") #{model.get('title')} n°#{model.get("accountNumber")}
span Solde :
input.accountAmount(type="text", value="#{Number(model.get('amount')).money()}", disabled="true")
span &euro;
