td #{(model.get("rules")).queryWords}
td #{(model.get("rules")).queryMin.money()}
td #{(model.get("rules")).queryMax.money()}
td
  span.fs1.modify-regular-operation.blue-text(aria-hidden="true",data-icon="&#57349;")