h1 Budget prévisionnel
div#forecast-budget-content
  span Mes opérations régulières
  table.col-md-12
    thead
      tr
        th Motif
        th Montant Min
        th Montant Max
        th &nbsp;
        th &nbsp;
    tbody#regular-operations