h1 Budget prévisionnel
.interface-box-content
  div#forecast-budget-content
    span Mes opérations régulières
    table.col-md-12
      thead
        tr
          th Motif
          //- th Montant Min
          //- th Montant Max
          th Montant moyen
          th Budget
          th &nbsp;
      tbody#regular-operations