h1
  span.day-switcher.previous-day.pull-left.fs1(aria-hidden="true", data-icon="&#57613;")
  span#current-day Relevé géolocalisé
  span.day-switcher.next-day.pull-right.fs1(aria-hidden="true", data-icon="&#57614;")
div#msisdn-geolocation-map