ul
  li.menu-item.active
    span.current-arrow
    a(href="#analyse-mensuelle")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57802;")
      |Analyse mensuelle
  li.menu-item
    a(href="#analyse-mensuelle-comparee")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57802;")
        span.fs1(aria-hidden="true", data-icon="&#57802;")
      |Analyse mensuelle comparée
  li.menu-item
    a(href="#budget")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57802;")
      |Budget prévisionnnel
  li.menu-item
    a(href="#achats-en-ligne")
      .icon
        span.fs1(aria-hidden="true",data-icon="&#57398;")
      |Achats en ligne
  li.menu-item
    a(href="#alertes")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57803;")
      |Alertes
  li.menu-item
    a(href="#parametres")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57486;")
      |Paramètres
