ul
  li.menu-item.active
    span.current-arrow
    a(href="#analyse-mensuelle")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57496;")
      |Analyse mensuelle
  li.menu-item
    a(href="#budget-previsionnel")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57802;")
      |Budget prévisionnel
  li.menu-item
    a(href="#releve-augmente")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57602;")
      |Relevé augmenté
  li.menu-item
    a(href="#releve-geolocalise")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57538;")
      |Relevé géolocalisé
  //- li.menu-item
  //-   a(href="#analyse-mensuelle-comparee")
  //-     .icon
  //-       span.fs1(aria-hidden="true", data-icon="&#57802;")
  //-       span.fs1(aria-hidden="true", data-icon="&#57802;")
  //-     |Analyse mensuelle comparée
  //- li.menu-item
  //-   a(href="#achats-en-ligne")
  //-     .icon
  //-       span.fs1(aria-hidden="true",data-icon="&#57398;")
  //-     |Achats en ligne
  //- li.menu-item
  //-   a(href="#alertes")
  //-     .icon
  //-       span.fs1(aria-hidden="true", data-icon="&#57803;")
  //-     |Alertes
  li.menu-item
    a(href="#parametres")
      .icon
        span.fs1(aria-hidden="true", data-icon="&#57486;")
      |Paramètres
