ul
  li.menu-item.active
    span.current-arrow
    a(href="#analyse-mensuelle")
      .icon
        span.fs1(aria-hidden="true", data-icon="")
      |Analyse mensuelle
  li.menu-item
    a(href="#analyse-mensuelle-comparee")
      .icon
        span.fs1(aria-hidden="true", data-icon="")
        span.fs1(aria-hidden="true", data-icon="")
      |Analyse mensuelle comparée
  li.menu-item
    a(href="#achats-en-ligne")
      .icon
        span.fs1(aria-hidden="true",data-icon="")
      |Achats en ligne
  li.menu-item
    a(href="#alertes")
      .icon
        span.fs1(aria-hidden="true", data-icon="")
      |Alertes

