h1.col-md-12
  span.month-switcher.previous-month.pull-left.fs1(aria-hidden="true", data-icon="&#57613;")
  span#current-month Analyse mensuelle
  span.month-switcher.next-month.pull-right.fs1(aria-hidden="true", data-icon="&#57614;")
table#monthly-report.col-md-12
  tr
    td.amount-month
      div
        |solde de début de mois
        hr
        span#amount-month-start.amount-number
    td.amount-month
      div
        |solde de fin de mois
        hr
        span#amount-month-end.amount-number
        br
        span#amount-month-differential.blue-text.amount-number-diff
  tr
    td(colspan="2")
      .col-md-1
      .search-panel.col-md-10
        #credits-search-btn.search-btn.grey1.pull-left
          span.pull-left.fs1.big-size-icon(aria-hidden="true", data-icon="&#57602;")
          span#credits-sum.pull-right.big-size-text 0 &euro;
          br
          span.pull-right.little-size-text Crédits
        #debits-search-btn.search-btn.grey2.pull-right
          span.pull-left.fs1.big-size-icon(aria-hidden="true", data-icon="&#57601;")
          span#debits-sum.pull-right.big-size-text 0 &euro;
          br
          span.pull-right.little-size-text Débits
      .col-md-1
  tr
    td(colspan="2")
      .col-md-1
      .search-panel.col-md-10
        #fixed-cost-search-btn.search-btn.grey3.pull-left
          span.pull-left.fs1.big-size-icon(aria-hidden="true", data-icon="&#57481;")
          span#fixed-cost-sum.pull-right.big-size-text 0 &euro;
          br
          span.pull-right.little-size-text Frais fixes
        #variable-cost-search-btn.search-btn.grey4.pull-right
          span.pull-left.fs1.big-size-icon(aria-hidden="true", data-icon="&#57393;")
          span#variable-cost-sum.pull-right.big-size-text 0 &euro;
          br
          span.pull-right.little-size-text Dépenses
      .col-md-1
  tr
    td.google-pie-chart(colspan="2")
      div#pie_chart(style="width:300px;height:180px;margin:auto;") &nbsp;
      br
      br
