h1
  span.month-switcher.previous-month.pull-left.fs1(aria-hidden="true", data-icon="&#57613;")
  span#current-month Analyse mensuelle
  span.month-switcher.next-month.pull-right.fs1(aria-hidden="true", data-icon="&#57614;")
div#monthly-amounts

div#pie_chart &nbsp;
