.sectionhead
  img.sectionlogo(src="images/Sections/#{section.section}.png", onerror="if (this.src != 'images/Sections/vide.png') this.src = 'images/Sections/vide.png';", title="#{section.sectionLabel}")

.sectioninner
  .row.section
    - for (var i2 in section.receiptDetails) {
    - var receiptDetail = section.receiptDetails[i2];
      - if (receiptDetail.amount >= 1)
        - for (var i=0; i<receiptDetail.amount; i++)
            include receiptdetail
    - }
